.note-editable{
    height: 300px;
}
.o-we-hint{
    height: 150px;
}
.modal:not([data-bs-backdrop="false"]) {
    background-color: transparent !important;
}
.o_dialog {
    pointer-events: none !important;
}

.o_dialog .modal-content {
    pointer-events: auto !important;
}
.form-select{
    margin-top: 8px;
    border: 1px solid black !important;
}
.modal-content {
    max-width: 90vw;  
    width: auto;  
    min-width: 800px;  
}
.o_field_many2one_selection{
    width: 35% !important;
}
.link-companies{
    position: absolute;
    left: 460px;
    bottom: 126px;
}
.btn_send_email{
    position: absolute;
    right: 10px;
    padding: 12px;
}